<ion-header>
  <ion-toolbar color="primary">
    <ion-title> Rick & Morty </ion-title>
    <ion-buttons slot="end">
      @if(cargando === true){
      <ion-spinner color="light"></ion-spinner>
      }
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-input
      label="Pagina"
      type="number"
      [value]="pagina"
      (ionInput)="cargarPorPagina($event)"
    ></ion-input>
  </ion-toolbar>
</ion-header>

<ion-content>
  @for (personaje of personajes; track 'id') {
  <ion-item>
    <ion-avatar slot="start">
      <img [alt]="personaje.name" [src]="personaje.image" />
    </ion-avatar>
    <ion-label>
      <h2>{{ personaje.name}}</h2>
    </ion-label>
    <ion-chip slot="end"> {{ personaje.species }} </ion-chip>
  </ion-item>
  }
</ion-content>
